* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
    display: none;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: rgb(43, 43, 43);
    border-radius: .4rem;
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    padding: .5rem;
    text-align: center;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

h3 {
    font-family: 'Nunito', sans-serif; 
    line-height: 1.6;
}

h4 {
    font-family: 'Nunito', sans-serif; 
    line-height: 2;
    font-size: 1rem;
    color: rgb(43, 43, 43);
}

h5 {
    font-family: 'Nunito', sans-serif; 
    line-height: 1.5;
    font-size: .9rem;
    color: whitesmoke;
}

.title-font {
    text-align: center; 
    position:relative; 
    top: 50%; 
    transform: translateY(-50%); 
    font-family: 'Nunito', sans-serif; 
    font-size: 1.1rem;
}

/* Intro Paragraph */
.writing-description {
    grid-area: writing;
    place-self: center;
}
.Writing-Div {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        " . . . "
        " . writing . "
        " . . . "
        ;
}

/* Maps of Peru and Chimbote */
.perumap-title {
    grid-area: title1;
    place-self: center;
}
.perumap {
    grid-area: map1;
    place-self: center;
}
.peru_desc{
    grid-area: peru_desc;
    place-self: center;

}
.Peru_Map {
    display: grid;
    grid-template-columns: 5% 65% 5% 20% 5%;
    grid-template-rows: 5% 5%  85% 5%;
    grid-template-areas: 
    " . . . . . "
    " . map1 title1 title1 . "
    " . map1 . peru_desc . "
    " . . . . ."
    ;
}

.chimbotePicture {
    grid-area: picture;
    place-self: center;
}
.chimbotemap {
    grid-area: map2;
    place-self: center;
}
.chimboteDesc{
    grid-area: chimboteDesc;
    place-self: center;
}
.Chimbote_Map {
    display: grid;
    grid-template-columns: 5% 35% 5% 50% 5%;
    grid-template-rows: 5% 50% 40% 5%;
    grid-template-areas: 
    " . . . . . "
    " . chimboteDesc . map2  . "
    " . chimboteDesc . map2  . "
    " . . . . ."
    ;
}

.barChartExports {
    grid-area: barChartExports;
    place-self: center;
}
.fishmeal_map {
    grid-area: map3;
    place-self: center;
}
.fishmeal_desc{
    grid-area: fishmeal_desc;
    place-self: center;

}
.Production_Map {
    display: grid;
    grid-template-columns: 5% 50% 5% 35% 5%;
    grid-template-rows: 5% 45% 5% 40% 5%;
    grid-template-areas: 
    " . . . . . "
    " . map3 . barChartExports . "
    " . map3 . . . "
    " . map3 . fishmeal_desc ."
    " . . . . . "
    ;
}


/* Exports Leafelt Map */

button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
    opacity: 1;
    text-align: center;
    font-family: 'Nunito', sans-serif; 
    line-height: 1.5;
    font-size: .9rem;
    color: whitesmoke;
  }

  button:not(.no-hover):hover {
      background-color: rgb(38, 38, 38)
  }

.gloss2 {
    grid-area: gloss2;
    text-align: justify;
    font-size: .9rem;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif; 
  }

.map {
    grid-area: map;
}
.button {
    grid-area: button;
    place-self: center;
  }
.info{
    grid-area: info;
    font-size: .9rem;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif; 

}
.second-page{
    
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 5% 15% 5% 25% 45% 5%;
    grid-template-rows: 5% 5% 50% 10% 25% 5%;
    grid-template-areas: 
    " button button button button .   . "
    " button button button button .   ."
    " .      info   .      map    map . "
    " .      info   .      map    map ."
    " .      gloss2      .      map      map   . "
    " .      .      .      .      .   . ";
  }

.leaflet-container {
    background: rgb(43, 43, 43)
}

/* Malnourishment*/ 


/* Catching Anchovies */ 
.circlechart-title {
    grid-area: circlechart-title;
    place-self: center;
}
.circlechart-info {
    grid-area: circlechart-info;
    place-self: center;
}
.main3 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    " circlechart-title circlechart-title circlechart-title"
    " . circlechart-info . "
    ;
}

/* Choose your Own Path Section*/
.water_link {
    grid-area: water_link;
    place-self: center;
}
.wildlife_link {
    grid-area: wildlife_link;
    place-self: center;
}
.employment_link {
    grid-area: employment_link;
    place-self: center;
}
.malnutrition_link {
    grid-area: malnutrition_link;
    place-self: center;
}
.Choose_Path {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    
    " water_link wildlife_link "
    " employment_link malnutrition_link "
    
    ;
}

/* Water Waste and Pollution */
.circle_desc {
    grid-area: desc;
    place-self: center;
}
.water_circle {
    grid-area: water_circle;
    place-self: center;
}
.Water_Waste {
    display: grid;
    grid-template-columns: 5% 20% 5% 65% 5%;
    grid-template-rows: 5% 45% 45% 5%;
    grid-template-areas: 
        " . . . . ."
        " . desc . water_circle . "
        " . desc . water_circle ."
        " . . . . ."
        ;
}

/*Wildlife Impact*/
.wildlifeWriting {
    grid-area: wildlifeWriting;

}

.wildlifeImage {
    grid-area: wildlifeImage;
    place-self: center;
}

.wildlife {
    display: grid;
    grid-template-columns: 5% 70% 5% 15% 5%;
    grid-template-rows: 5% 65% 5% 20% 5%;
    grid-template-areas: 
    " . .               .               .               . "
    " . wildlifeWriting wildlifeWriting wildlifeWriting . "
    " . wildlifeWriting wildlifeWriting wildlifeWriting . "
    " . .               .               .               . "
    " . .               .               .               . "
    ;
}

/* Employment */
.circleChart {
    grid-area: circleChart;
    place-self: center;
    background-image: rgb(43, 43, 43);
}
.incomeLineGraph{
    grid-area: incomeLineGraph;
    place-self: center;
}

.employmentVizInfo{
    grid-area: employmentVizInfo;
    place-self: center;
}
.employmentViz{
    display: grid;
    height: 100vh;
    width: 98vw;
    grid-template-columns: 5% 55% 5% 30% 5% ;
    grid-template-rows: 5% 60% 5% 25% 5%;
    grid-template-areas: 
    " . . . . . "
    " . incomeLineGraph . employmentVizInfo . "
    " . . . . . "
    " . circleChart circleChart circleChart . "
    " . . . . . ";
  }

.malnourishmentInfo {
    grid-area: malnourishmentInfo;
    place-self: center;
}
.incomeMalLineChart {
    grid-area: incomeMalLineChart;
    place-self: center;
}
.stackedBarChart {
    grid-area: stackedBarChart;
    place-self: center;
}
.malnourishment {
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 5% 40% 50% 5%;
    grid-template-areas: 
    " . . . . . "
    " . incomeMalLineChart . stackedBarChart . "
    " . malnourishmentInfo malnourishmentInfo malnourishmentInfo. "
    " . . . . . "
    ;
}



.data-info {
    grid-area: data;
    place-self: left;
    justify-items: center;
}

.references {
    grid-area: references;
    place-self: left;
}

.last-div {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
        " . . . . "
        " . data references . ";
    align-items: center;
}

section#data-ref {
    background-image: linear-gradient(rgb(43, 43, 43) 60%, rgb(214, 211, 211) 40%);
}
