* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
    display: none;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: rgb(43, 43, 43);
    border-radius: .4rem;
    color: whitesmoke;
    font-size: .8rem;
    font-family: 'Nunito', sans-serif;
    padding: .5rem;
    text-align: center;
}

.sectionBackground {
    background-color: rgb(38,38,38);
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

h3 {
    font-family: 'Nunito', sans-serif; 
    color: rgb(38, 38, 38);
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-family: 'Nunito', sans-serif; 
    color: rgb(38, 38, 38);
    font-size: 1.2rem;
    font-weight: bold;
}

h5 {
    font-family: 'Nunito', sans-serif; 
    line-height: 1.5;
    font-size: .9rem;
    color: whitesmoke;
}

.title{
    grid-area: title;
    background-color: #bc6329 
    }
    
.empty{
    grid-area: empty;
    overflow: hidden;
    }
    
.title-page {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    " title title "
    " empty empty ";
    }

/* Intro Paragraph */
.writing-description {
    grid-area: writing;
    place-self: center;
}
.Writing-Div {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        " . . . "
        " . writing . "
        " . . . "
        ;
}

/* Maps of Peru and Chimbote */
.peruTitle {
    grid-area: title1;
    place-self: center;
}
.perumap {
    grid-area: map1;
    place-self: end;
}
.peru_desc{
    grid-area: peru_desc;
    place-self: center;

}
.Peru_Map {
    display: grid;
    grid-template-columns: 5% 65% 5% 20% 5%;
    grid-template-rows: 5% 10% 80% 5%;
    grid-template-areas: 
    " . . . . . "
    " . map1 . title1 . "
    " . map1 . peru_desc . "
    " . map1 . . ."
    ;
}

.chimboteTitle {
    grid-area: chimboteTitle;
    place-self: center;
}
.chimbotemap {
    grid-area: map2;
    place-self: center;
}
.chimboteDesc{
    grid-area: chimboteDesc;
    place-self: center;
}
.Chimbote_Map {
    display: grid;
    grid-template-columns: 5% 35% 5% 50% 5%;
    grid-template-rows: 5% 10% 80% 5%;
    grid-template-areas: 
    " . . . . . "
    " . chimboteTitle . map2  . "
    " . chimboteDesc . map2  . "
    " . . . . ."
    ;
}

.yAxisLabel {
    font-family: 'Nunito', sans-serif;
}

.barChartExports {
    grid-area: barChartExports;
    place-self: start;
}

.fishmealMapExportsTitle {
    grid-area: titleExports;
    place-self: center;
}

.barChartExportsTitle {
    grid-area: titleBarChart;
    place-self: center;
}
.fishmeal_map {
    grid-area: map3;
    place-self: end;
}
.fishmeal_desc{
    grid-area: fishmeal_desc;
    place-self: center;
    overflow: hidden;
}
.Production_Map {
    display: grid;
    grid-template-columns: 5% 50% 5% 35% 5%;
    grid-template-rows: 10% 65% 25%;
    grid-template-areas: 
    " . titleExports . titleBarChart . "
    " . map3 . barChartExports . "
    " . fishmeal_desc fishmeal_desc fishmeal_desc . "
    ;
}


/* Exports Leafelt Map */

.firstLeafletMap {
    grid-area: map;
}

.info{
    grid-area: info;
    place-self: center;
    font-size: .9rem;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif; 

}
.firstMap{
    display: grid;
    background-image: linear-gradient(to right, #bc6329 0% 50%, rgba(38,38,38,0) 50% 100%);
    height: 100vh;
    width: 100%;
    grid-template-columns: 5% 15% 5% 25% 45% 5%;
    grid-template-rows: 5% 50% 10% 10% 20% 5%;
    grid-template-areas: 
    " .      .      .      .      .      ."
    " .      info   .      map    map    . "
    " .      info   .      map    map    ."
    " .      info   .      map    map    . "
    " .      info   .      map    map    . "
    " .      .      .      .      .      . ";
  }

.leaflet-container {
    background: rgb(38, 38, 38)
}

button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #bc6329;
    color: rgb(38, 38, 38);
    opacity: 1;
    text-align: center;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    }
    
button:not(.no-hover):hover {
    background: #bc6329;
    color: whitesmoke;
    }
    
.button {
    grid-area: button;
    place-self: center;
    }
    
.gloss2 {
    grid-area: gloss2;
    place-self: center;
    font-size: 1em;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Nunito', sans-serif; 
    }
    
.secondLeafletMap {
    grid-area: map2;
    place-self: center;
    height: 80vh;
    }
    
.info2 {
    grid-area: info2;
    place-self: center;
    font-size: .9em;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif; 
    }
    

section#Fishmeal_Export_Map2 {
    background-image: linear-gradient(to right, #bc6329 0% 50%, rgba(38,38,38,0) 50% 100%);
}

section#Choose_Path {
    background-image: linear-gradient(#bc6329 0% 50%, rgb(38, 38, 38) 50% 100%);
}

.secondMap{
    display: grid;
    background-image: linear-gradient(rgba(38,38,38,0) 0% 50%, #bc6329 50% 100%);
    height: 100vh;
    width: 100%;
    grid-template-columns: 5% 15% 5% 25% 45% 5%;
    grid-template-rows: 5% 5% 50% 20% 15% 5%;
    grid-template-areas: 
" button button button button .   . "
" button button button button .   ."
" .      info2  .      map2    map2 . "
" .      info2  .      map2    map2 ."
" .      .      .      gloss2      gloss2   . "
" .      .      .      gloss2      gloss2   . ";
    }

/* Malnourishment*/ 


/* Catching Anchovies */ 
.circlechart-title {
    grid-area: circlechart-title;
    place-self: center;
}
.circlechart-info {
    grid-area: circlechart-info;
    place-self: center;
}
.main3 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    " circlechart-title circlechart-title circlechart-title"
    " . circlechart-info . "
    ;
}

/* Choose your Own Path Section*/
.water_link {
    grid-area: water_link;
    place-self: center;
}
.wildlife_link {
    grid-area: wildlife_link;
    place-self: center;
}
.employment_link {
    grid-area: employment_link;
    place-self: center;
}
.malnutrition_link {
    grid-area: malnutrition_link;
    place-self: center;
}
.Choose_Path {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    
    " water_link wildlife_link "
    " employment_link malnutrition_link "
    
    ;
}

/* Water Waste and Pollution */
.circle_desc {
    grid-area: desc;
    place-self: center;
}
.water_circle {
    grid-area: water_circle;
    place-self: center;
}
.Water_Waste {
    display: grid;
    grid-template-columns: 5% 20% 5% 65% 5%;
    grid-template-rows: 5% 45% 45% 5%;
    grid-template-areas: 
        " . . . . ."
        " . desc . water_circle . "
        " . desc . water_circle ."
        " . . . . ."
        ;
}

/*Wildlife Impact*/
.wildlifeWriting {
    grid-area: wildlifeWriting;
    place-items: justify;
}

.donutChartFont {
    font-size: .9rem;
    font-family: 'Nunito', sans-serif;
    overflow-wrap: normal;
}

.donutChart1 {
    grid-area: donut1;
    place-self: center;
}

.donutChart2 {
    grid-area: donut2;
    place-self: center;
}

.donutChart3 {
    grid-area: donut3;
    place-self: center;
}

.donutChartTitle {
    grid-area: title;
    place-self: center;
}

.wildlife {
    display: grid;
    grid-template-columns: 7.5% 25% 5% 25% 5% 25% 7.5%;
    grid-template-rows: 5% 40% 10% 40% 5%;
    grid-template-areas: 
    " . .               .               .               .               .               . "
    " . wildlifeWriting wildlifeWriting wildlifeWriting wildlifeWriting wildlifeWriting . "
    " . .               title               title               title               .               . "
    " . donut1          .               donut2          .               donut3          . "
    " . .               .               .               .               .               . "
    ;
}

/* Employment */

.circleChartTitle {
    grid-area: circleChartTitle;
    place-self: center;
}

.circleChart {
    grid-area: circleChart;
    place-self: center;
    background-image: rgb(43, 43, 43);
}
.incomeLineGraph{
    grid-area: incomeLineGraph;
    place-self: center;
}

.employmentVizInfo{
    grid-area: employmentVizInfo;
    place-self: center;
}
.employmentViz{
    display: grid;
    height: 100vh;
    width: 98vw;
    grid-template-columns: 5% 55% 5% 30% 5% ;
    grid-template-rows: 5% 60% 5% 25% 5%;
    grid-template-areas: 
    " . . . . . "
    " . incomeLineGraph . employmentVizInfo . "
    " . circleChartTitle circleChartTitle circleChartTitle . "
    " . circleChart circleChart circleChart . "
    " . . . . . ";
  }

.malnourishmentInfo {
    grid-area: malnourishmentInfo;
    place-self: center;
}
.incomeMalLineChart {
    grid-area: incomeMalLineChart;
    place-self: center;
}
.stackedBarChart {
    grid-area: stackedBarChart;
    place-self: center;
}
.malnourishment {
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 5% 40% 50% 5%;
    grid-template-areas: 
    " . . . . . "
    " . incomeMalLineChart . stackedBarChart . "
    " . malnourishmentInfo malnourishmentInfo malnourishmentInfo. "
    " . . . . . "
    ;
}

.data-info {
    grid-area: data;
    place-self: left;
    justify-items: center;
}

.references {
    grid-area: references;
    place-self: left;
}

.last-div {
    display: grid;
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
        " . . . . . "
        " . references . data . ";
    align-items: center;
}

section#data-ref {
    background-image: linear-gradient(to right, rgb(38, 38, 38) 50%, #bc6329 50%);
}
